<!-- ▼▼▼ ページローダー ▼▼▼ -->
<div class="loader" id="js-loader">
  <div class="loader__content">
    <img src="/{{ CONSTANTS.SITE_ROOT }}img/common/loader.gif" alt="">
  </div>
</div>
<!-- ▲▲▲ ページローダー ▲▲▲ -->
