@use "../../global" as g;

$BLOCK_NAME: ".top-about";

#{ $BLOCK_NAME } {
  margin-top: 60px;

  &__contents {
    margin-top: 24px;
  }

  &__content {
    & + & {
      margin-top: 36px;
      @include g.Mq(lg) {
        margin-top: 0;
      }
    }
    @include g.Mq(md) {
      display: flex;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }

  &__text {
    @include g.Mq(md) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      @at-root #{ $BLOCK_NAME }__content:nth-child(odd) & {
        padding-right: 48px;
      }
      @at-root #{ $BLOCK_NAME }__content:nth-child(even) & {
        padding-left: 48px;
      }
    }
  }

  &__img {
    position: relative;
    max-width: 300px;
    margin: 16px auto 0;
    @include g.Mq(md) {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 400px;
      max-width: none;
      margin: 0;
    }
  }

  &__img-main {
    width: 100%;
    aspect-ratio: 400 / 400;
    overflow: hidden;
    background: g.$c_white;
    border: 6px solid g.$c_white;
    border-radius: 50%;
    box-shadow: g.$shadow_default;
  }

  &__img-sub {
    position: absolute;
    aspect-ratio: 400 / 400;
    right: 8px;
    bottom: 8px;
    width: 80px;
    overflow: hidden;
    background: g.$c_white;
    border: 4px solid g.$c_white;
    border-radius: 50%;
    box-shadow: g.$shadow_default;
    @at-root #{ $BLOCK_NAME }__content:nth-child(even) & {
      left: 8px;
    }
    @include g.Mq(lg) {
      width: 120px;
      height: 120px;
    }
  }
}