@use "../../global" as g;

$BLOCK_NAME: ".top-project-description";

#{ $BLOCK_NAME } {
  // &__content {}

  &__heading {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    @include g.Mq(md) {
      font-size: 24px;
      text-align: left;
    }
  }

  &__text {
    margin-top: 8px;
    font-size: 16px;
  }

  &__img {
    overflow: hidden;
    border-radius: g.$radius_lg;
    & > img {
      width: 100%;
    }
  }
}