@use "../../global" as g;

$BLOCK_NAME: ".top-project";

#{ $BLOCK_NAME } {
  position: relative;
  padding: 36px 0;
  margin-top: 120px;
  background: g.$c_primary_light;
  border-radius: 36px;
  @include g.Mq(md) {
    padding: 60px 0;
    margin-top: 160px;
    border-radius: 60px;
  }

  &__title {
    position: absolute;
    top: -64px;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 60px;
    font-weight: 900;
    color: g.$c_primary_light;
    text-align: center;
    @include g.Mq(md) {
      top: -120px;
      font-size: 110px;
    }
  }
}