{% set HEADER_ITEMS = [
  {
    href: CONSTANTS.SITE_ROOT + '/',
    label: 'TOP'
  },
  {
    href: CONSTANTS.SITE_ROOT + '/news.html',
    label: 'NEWS'
  },
  {
    href: CONSTANTS.SITE_ROOT + '/event.html',
    label: 'EVENT'
  },
  {
    href: CONSTANTS.SITE_ROOT + '/contact.html',
    label: 'CONTACT'
  }
] %}

<!-- ▼▼▼ ヘッダー ▼▼▼ -->
<header class="header" id="js-header">
  <div class="container">
    <div class="header__inner">
      <ul class="header__nav">
        {% for ITEM in HEADER_ITEMS %}
          <li><a href="{{ ITEM.href }}" class="header__nav-item">{{ ITEM.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
<!-- ▲▲▲ ヘッダー ▲▲▲ -->