{% set TOP_HERO_NAV_ITEMS = [
  {
    href: '#about',
    label: '○○について'
  },
  {
    href: '#project',
    label: 'プロジェクト'
  },
  {
    href: '#facility',
    label: '施設'
  },
  {
    href: '#gallery',
    label: 'ギャラリー'
  }
] %}

<!-- ▼▼▼ ヒーロー ▼▼▼ -->
<section class="top-hero">
  <div class="top-hero__content">
    <div class="top-hero__img">
      <img src="/{{ CONSTANTS.SITE_ROOT }}img/top/mv.jpg" alt="">
    </div>
    <div class="top-hero__text">
      <h1 class="top-hero__title">タイトルが入ります</h1>
      <p class="top-hero__lead">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </div>
  </div>
</section>
<div class="top-hero__nav" id="js-top-hero-nav">
  <div class="container">
    <ul class="top-hero__nav-items">
      {% for ITEM in TOP_HERO_NAV_ITEMS %}
        <li class="top-hero__nav-item">
          <a href="{{ ITEM.href }}" class="top-hero__nav-link">{{ ITEM.label }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- ▲▲▲ ヒーロー ▲▲▲ -->