{% macro main( img="", heading="", text="" ) %}
  <div class="top-project__description">
    <div class="top-project__description-content">
      <h3>{{ heading }}</h3>
      <p>{{ text }}</p>
    </div>
    <div class="top-project__description-img">
      <img src="{{ img }}" alt="">
    </div>
  </div>
{% endmacro %}

{% macro link( link="", img="", heading="", text="" ) %}
<a href="{{ link }}" class="project-card">
  <div class="project-card__img">
    <img
      src="{{ img }}"
      width="64"
      height="64"
      alt=""
    >
  </div>
  <div class="project-card__content">
    <h4 class="project-card__heading">{{ heading }}</h4>
    <p class="project-card__text">{{ text }}</p>
  </div>
</a>
{% endmacro %}